
/* background color classes */
/*
#instruction {
  /* background-color: #814374; */
  /* border: 1px solid #F2F2F2; */
  /* color: white;
  margin-left: -10px;
  margin-top: -8px;
  width: 240px;
  padding: 5px 5px;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  border-bottom: solid;
  border-width: 3px;
  border-length: 10px;
  border-color: white;
} */
#canvas {
border: 3px solid black;

}

#answer {
  text-align: center;
  color: white;
  border: 3px solid #F2F2F2;
  background-color: #06425C;
  width: 235px;
  height: 650px;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 5px;

}

.hud {
  /* display: flex; */
  flex-direction: row;
  height: auto;
  left: 200px;
}

.box {
  /* position: relative;
  left: -100px; */
  font-size: 16;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #F2F2F2;
  /* box-sizing: border-box; */
  width: 100px;
  /* border: 1px solid #F2F2F2; */
  padding: 2px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: 255, 255, 255, 0;
}

.box:hover {
  color: #51A39D
}

#vennDiagram {
  /* background-color: #F2F2F2; */
  width: 80%;
  height: 80%;
  align-content: center;
  overflow-y: auto;
  /* width: 792px;
  height: 612px; */
}

body {
  font-family: helvetica;
  font-size: 18px;
  background-color: #06425C;
}

/* .section {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
} */

#restart {
  z-index: 30;
  outline: none;
  position: absolute;
  right: 30px;
  bottom: 40px;
  background-color: #217196;
  color: white;
  margin-left: 10px;
  width: 216px;
  padding: 10px 10px;
  font-size: 25px;
  border: 2px solid #F2F2F2;
}

#restart:hover {
  background-color: #51A39D;
}

#checkButton {
  outline: none;
  z-index: 30;
  position: absolute;
  right: 30px;
  bottom: 100px;
  background-color: #217196;
  color: white;
  margin-left: 10px;
  width: 216px;
  padding: 10px 10px;
  font-size: 25px;
  border: 2px solid #F2F2F2;
}

#checkButton:hover {
  background-color: #51A39D;
}

.resume {
  outline: none;
  z-index: 30;
  background-color: #217196;
  color: white;
  margin-top: 5px;
  width: 216px;
  padding: 10px 10px;
  font-size: 25px;
  border: 2px solid #F2F2F2;
}

.resume:hover {
  background-color: #51A39D;
}

.response {
  z-index: 30;
  /* border: 1px solid #F2F2F2; */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  width: 250px;
  height: 90px;
  position: absolute;
  bottom: 97px;
  right: 13px;
  z-index: 50;
  background-color: 255, 255, 255, 0;
  font-size: 25px;
  color: white;
}

#correct {
  display: none;
}

#wrong {
  display: none;

}

.vd {
  left: 150px;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}
